@media (max-width:1024px) {
  .inner-call-to-action {
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 15px;
    border-bottom-right-radius: 25px;
    background-image: url('../img/inner-bg.png');

  }
  .email-not-required {
    background-color: #1e1365b0;
border-radius: 4px;
  }
  .email-not-required span {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .inner-services-wrap {
    background: linear-gradient(89.79deg, #23196F 0.13%, #180D5B 99.88%);
  }
  .inner-services-list {
    flex-wrap: wrap;
    justify-content: center;
  }
  .inner-service-list-item {
    width: 150px;
    height: 150px;
    margin-top: 5px;
    margin-right: 5px;
  }
  .inner-service-list-item + .inner-service-list-item {
    margin-left: 0;
}
}
@media (max-width:660px) {
  .container {
    flex-wrap: wrap;
  }
  .main-header-nav {
    margin-left: auto
    ;

  }
  .call-to-action-title {
    line-height: 1;
  }
}
@media(max-width:568px)  {
  .main-header-nav {

    margin-bottom: 15px;
  }
}
@media (max-width:400px) {
  .container {
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
  }
  .logo {
    margin-bottom: 10px;
  }
  .main-header-nav {
    align-self: flex-end;
    margin-bottom: 20px;
  }
  .info-header-nav {
    align-self: flex-end;
  }
}
@media (max-width:380px) {
  .main-header-nav {

    margin-top: 5px;
  }
}